.autoadjust-optbar {
  margin: 40px auto;
  text-align: center;
}
.autoadjust-main {
  margin: 0 auto;
  width: 400px;
  height: 600px;
}
.autoadjust-pad {
  background-color: #eee;
}
.autoadjust-optitem {
  display: inline-block;
  padding: 0 10px;
  width: 130px;
  text-align: left;
}
.autoadjust-optlabel {
  padding-bottom: 10px;
  font-size: 12px;
  color: #666666;
}
.autoadjust-optinput {
  padding-bottom: 8px;
  width: 100%;
  color: #434343;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
}
.autoadjust-optinput::-webkit-input-placeholder {
  color: #cccccc;
}
.autoadjust-optinput:-ms-input-placeholder {
  color: #cccccc;
}
