.pad-message-item {
  margin-top: 8px;
  background-color: #ffffff;
}
.pad-message-hd {
  padding: 10px;
  display: flex;
  align-items: center;
}
.pad-message-username {
  padding-left: 8px;
  font-size: 14px;
  color: #6a6a6a;
}
.pad-message-content {
  padding: 2px 10px 15px;
  font-size: 14px;
  line-height: 1.5em;
  color: #4a4a4a;
}
