.grid {
  padding: 0 5px;
  box-sizing: border-box;
}
.griditem {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  background: #ffffff;
  overflow: hidden;
}
.griditem-poster {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #cbf1ff;
}
.griditem-text {
  flex: 1;
  padding: 10px;
}
