.pad-preview {
  position: relative;
  display: inline-block;
  border: 8px solid #f5f5f5;
}
.pad-padele {
  background-color: #f5f5f5;
}
.pad-optbar {
  display: inline-block;
  padding-left: 40px;
  vertical-align: top;
  font-family: 'sans-serif';
}

.pad-btn {
  display: inline-block;
  padding: 10px;
  background-color: #ececec;
  font-size: 14px;
  color: #434343;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'sans-serif';
}
.pad-btn:hover {
  background-color: #dedede;
}
.pad-numberfield {
  padding: 12px 0;
}
.pad-numberfield-label {
  padding-bottom: 12px;
  font-size: 12px;
  color: #666666;
}
.pad-numberfield-main {
  display: flex;
  align-items: center;
}
.pad-numberfield-text {
  padding: 5px 12px;
  font-size: 14px;
}
