.note-wrapper {
  position: relative;
  background-color: #eeeeee;
}

.note-item {
  position: absolute;
  background-color: #fff;
  transition: transform 0.3s;
}

.note-item-dragging {
  z-index: 10;
  transition-duration: 0s;
}
