.sticker-wrapper {
  position: relative;
  width: 680px;
  height: 510px;
}

.sticker-box {
  position: absolute;
}
.sticker-translate {
  position: absolute;
  left: 0;
  top: 0;
}
.sticker-remove {
  position: absolute;
  right: 0;
  top: 0;
}
.sticker-scale {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sticker-rotate {
  position: absolute;
  left: 0;
  bottom: 0;
}
.sticker-btn {
  display: inline-block;
  padding: 10px;
  background-color: #0084ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.sticker-btn:hover {
  background-color: #0278e6;
}
