.carousel-box {
  position: relative;
}
.vcarousel-pagination {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}
.vcarousel-pagination .pagination-item {
  width: 122px;
  height: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid transparent;
  cursor: pointer;
}
.vcarousel-pagination .pagination-active {
  width: 122px;
  height: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #ffffff;
}
