.vi-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.vi-thumb {
  position: relative;
  cursor: pointer;
}
.vi-thumb-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.vi-thumb-active .vi-thumb-mask {
  background-color: rgba(0, 0, 0, 0.7);
}
