.main-wrapper {
  margin: 0 auto;
  padding: 20px 0;
  width: 750px;
}
.main-source {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 10px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  text-decoration: none;
}
.main-source:hover {
  background-color: #ececec;
}
