.main-wrapper {
  margin: 0 auto;
  padding: 10px 0;
  width: 750px;
}
.main-source {
  display: inline-block;
  margin: 10px;
  padding: 8px 10px;
  border: 1px solid #ebeef1;
  background-color: #f6f9fc;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  text-decoration: none;
}
.main-source:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
